<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>1805pms</display-name>
  <welcome-file-list>
    <welcome-file>tologin.do</welcome-file>
    
  </welcome-file-list>
  <!--设置xml 的位置-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationcontext.xml</param-value>
	</context-param>
	
	<!--
		spring 监听器
		tomcat启动时找到xml，并创建对象 
	-->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

  	<!--配置dispatcherServlet-->
	
	<servlet>
		<servlet-name>DispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:mvc.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>DispatcherServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	 <!-- 配置验证码 -->
  <servlet>
  	<servlet-name>kaptcha</servlet-name>
  	<servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
  	<!-- 图片的宽度 -->
  	<init-param>
  		<param-name>kaptcha.image.width</param-name>
  		<param-value>80</param-value>
  	</init-param>
  	<!-- 图片的高度 -->
  	<init-param>
  		<param-name>kaptcha.image.height</param-name>
  		<param-value>30</param-value>
  	</init-param>
  	<!-- 图片的边框 -->
  	<init-param>
  		<param-name>kaptcha.image.border</param-name>
  		<param-value>no</param-value>
  	</init-param>
  	<!-- 字体 -->
  	<init-param>
  		<param-name>kaptcha.textproducer.font.size</param-name>
  		<param-value>28</param-value>
  	</init-param>
  	<!-- 字体的水纹样式 -->
  	<init-param>
  		<param-name>kaptcha.obscurificator.impl</param-name>
  		<param-value>com.google.code.kaptcha.impl.FishEyeGimpy</param-value>
  	</init-param>
  	 <!-- 验证码的长度 -->
  	<init-param>
  		<param-name>kaptcha.textproducer.char.length</param-name>
  		<param-value>1</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>kaptcha</servlet-name>
  	<url-pattern>/kaptcha.jsp</url-pattern>
  </servlet-mapping>
  
 
 
 
</web-app>